*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: #ece3e2;
    position: relative;
}
.body::before{
    content: "";
    position: fixed;

}
.box{
    margin: 50px;
    width: 1190px;
    height: 600px;
    font-size: 20px;
    background-color: #f0d9c6;
    color:#000000 ;
  
    
}
.flower{
    position: absolute;
    width: 1190px;
    height: 600px;
    margin-left: 50px;
    z-index: -1;
    background-image: center;    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #c99784;
    font-family: 'Oswald', sans-serif;
}
.logo{
    color: rgb(163, 85, 85);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav_links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav_links li{
    list-style: none;
}
.nav_links a{
    color: rgb(177, 114, 114);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav_links a:hover::before,
.nav_links li:hover > a::before,
.nav_links .active > a::before {
    visibility: visible;
    width: 25px;
}
.nav_links a:hover ,
.nav_links .active >a,
.nav_links li:hover >a {
    color: wheat;
    text-decoration: none;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(221, 189, 189);
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:1024px) {
    .nav_links{
        width: 60%;
    }
    body::before{
        background-attachment: fixed;

    }
    
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav_links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #c99784;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
     
    }
    .nav_links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
   .nav-active{
       transform: translate(0%);
   }

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(0px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}
.toggle .line1{
    transform:  rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

#header *{
    transition: ease-in-out 0.3s;
}
#header .name{
    font-size: 30px;
    position: absolute;
    left: 90px;
    top: 410px;
    right: 0px;
    width: 400px;
    height: 100px;
    color: rgb(177, 114, 114);
   
   
}
#header .about-me{
    font-size: 30px;
    position: absolute;
    left: 90px;
    top: 445px;
    right: 0px;
    width: 500px;
    height: 100px;
    color: rgb(177, 114, 114);
   
}
#header h1 span{
    color: rgb(129, 72, 65);
    font-size: 35px;
    font-family: 'Lora', serif;
  
}
#header h1 span:hover{
    color: rgb(54, 22, 18);
    border-bottom: 2px solid wheat;
    padding-bottom: 6px;
}
.social-links{
    font-size: 25px;
    position: absolute;
    left: 90px;
    top: 488px;
    right: 0px;
    width: 300px;
    height: 100px;
    color: rgb(177, 114, 114);
}
@media(max-width:992px){
    #header h1{
        font-size: 35px;
    }
    #header h2{
        font-size: 20px;
        line-height: 30px;
    }
    #header .social-links{
        margin-top: 15px;

    }
    #header .box .container{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}
.fab{
    
    font-size: 20px;
    display: inline-flex;
    text-decoration: none;
    color: rgb(177, 114, 114);
    padding: 10px 10px;
    margin: 0 7px; 
    
    justify-content: center;
    width: 40px;
    height: 40px;
    align-items: center;
    border-radius: 50px;
    transition: 0.3s;
}
.fab:hover {
    color: rgb(221, 155, 155);
    background-color: rgb(170, 110, 110);
    
}
/* --About --*/
.about-me .contact h3{

font-weight: 700;
font-size: 36px;
color: rgb(190, 135, 113);

}
.about-me .content ul{
    list-style: none;
    padding: 0;
}

#about .section-title {
position:absolute;
color: rgb(190, 135, 113);
left: 76px;
font-size: 35px;
}